.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;

    border: none;
    background: transparent;

    color: #FCF2E5;
    font-size: 30px;

    cursor: pointer;
    z-index: 1100;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 290px;
    height: 100vh;

    background: #524646;
    padding: 75px 22px 25px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    z-index: 2000;

    /* Completely hide menu */
    transform: translateX(-100%);

    transition: transform 0.3s ease;

    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.25);

    font-family: Arial, sans-serif;
    font-weight: normal;
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu a {
    color: #FCF2E5;
    text-decoration: none;

    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;

    text-align: left;

    padding: 15px 14px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    transition: background 0.2s ease;

    font-weight: normal;
}

.side-menu a:hover {
    background: #6b5b5b;
    border-radius: 6px;
}

.menu-close {
    position: absolute;

    top: 15px;
    right: 18px;

    border: none;
    background: transparent;

    color: #FCF2E5;
    font-size: 32px;

    cursor: pointer;
}